<%= form_for :application , url: applications_path do |f| %>

  <% if @application.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@application.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @application.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name, "Quel est votre nom ?" %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%=  f.label :why_us, "Pourquoi rejoindre Simplon plutôt qu'une autre formation ?" %><br>
    <%= f.text_field :why_us %>
  </p>
 
  <p>
    <%= f.label :computer_experiences, "De quelle expérience en code/programmation disposez vous (si vous en avez!) ?" %><br>
    <%= f.text_area :computer_experiences %>
  </p>
 
  <p>
    <%= f.label :email, "Quelle est votre adresse email ?" %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.submit "Candidatez !" %>
  </p>
<% end %>