<h1>Listing applications for Simplon 2015</h1>
 
<table border="1">
  <tr>
    <th>Application id</th>
    <th>Application date </th>
    <th>Name</th>
    <th>Why Simplon ?</th>
    <th>Computer literacy</th>
    <th>Email</th>
  </tr>
 
  <% @applications.each do |application| %>
    <tr>
    <td><%= application.id %></td>
    <td><%= application.created_at  %></td>
    <td><%= application.name %></td>
    <td><%= application.why_us %></td>
    <td><%= application.computer_experiences %></td>
    <td><%= application.email %></td>
    <td><%= link_to 'Show', application_path(application) %></td>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <td><%= link_to 'Destroy', application_path(application),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>

      
    </tr>
  <% end %>
</table>
