<div class="formulaire">

<h1>Apply for 2015 SIMPLON</h1>



<%= form_for :application , url: applications_path do |f| %>
  <p>
    <%= f.label :why_us %><br>
    <%= f.text_field :why_us %>
  </p>
 
  <p>
    <%= f.label :computer_experiences %><br>
    <%= f.text_area :computer_experiences %>
  </p>
 
  <p>
    <%= f.submit "Candidatez" %>
  </p>
<% end %>
</div>