<!DOCTYPE html>
<html>
<head><!DOCTYPE html>
<html lang='fr'>
    <head>
    <meta charset="UTF-8">
    <link type="stylesheet" rel="text.css" href="formulaire.css" media="all">
  <title>Becoder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag("logo_simplon.png", alt: "Logo de Simplon.co", :width => 430, :height => 350) %>
  <%= yield %>
</body>
</html>
