<!DOCTYPE html>
<html>
<head><!DOCTYPE html>
<html lang='fr'>
    <head>
    <meta charset="UTF-8">
    <link type="stylesheet" rel="text.css" href="formulaire.css" media="all">
  <title>Becoder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="cadre">

  <div id="header">

  <h1>SIMPLON.CO</h1>
  <h2>Fabrique sociale de codeurs #frenchtech #ess #empowerment</h2>


  <div id="logo">
  <%= image_tag("logosimplonred.png", alt: "Logo de Simplon.co", :width => 150) %>
  </div>


<navbar id="navbar">
<%= link_to "HOME", root_path %> //
<%= link_to 'Blog', controller: 'articles' %> //
<br>
CANDIDATE // <%= link_to "Create your account", new_user_path %> //
<%= link_to "Apply for Simplon", new_application_path %> // <br>
ADMIN // <%= link_to 'Listing Applications', controller: 'applications' %> //
<%= link_to 'Listing Users', controller: 'users' %> //

<%= link_to 'New article', new_article_path %>
</navbar>
</div>


  <%= yield %>

<div>

</body>
</html>
