<!DOCTYPE html>
<html>
<head><!DOCTYPE html>
<html lang='fr'>
    <head>
    <meta charset="UTF-8">
    <link type="stylesheet" rel="text.css" href="formulaire.css" media="all">
  <title>Becoder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= image_tag("logosimplonred.png", alt: "Logo de Simplon.co", :width => 150) %>
  <div id="header"><h1>Fabrique sociale de codeurs #frenchtech #ess #empowerment</h1></div>

<navbar>
<%= link_to "home", root_path %> <br>
<%= link_to "Create your account", new_user_path %><br>
<%= link_to "Apply for Simplon", new_application_path %><br>
<%= link_to 'Listing Applications', controller: 'applications' %><br>
</navbar>

  <%= yield %>

</body>
</html>
